body{
	font-size: 14px;
	color:#333;
	letter-spacing: 1px;
}


.overlay {
	width: 100%;
	height: 100%;

	position: absolute;
	z-index:3; 
	background-color: rgba(0,0,0, 0.4);
}

.main-nav{
    list-style: none; /*toglie i pallini*/
    float: right;  
	margin: 20px 10px;
	z-index:100;
	
}

.main-nav li{
	margin-top: 50px;
	margin-right: 100px;
	display: block;
	height: 2px;
}


.main-nav li a:link,
.main-nav li a:visited{
	padding: 8px 0;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition:border-bottom 0.5;
    
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #abb2b7;
    
}
.slides-navigation {
	z-index:6; 
	
}
.slides-navigation .prev, 
.slides-navigation .next{

width: 47px;
height: 47px;

background-size: cover;
background-repeat: no-repeat;
}

.slides-navigation a.prev{
left: 20px;
background-image: url(../icons/backArrow.png);
}

.slides-navigation a.next {
right: 20px;
background-image: url(../icons/nextArrow.png);

}

.titleMessage {
position: absolute;
width: 100%;
height:250px;
top:50%;
margin-top: -125px;
text-align: center;
z-index: 5;

}

.titleMessage .heading p{

color: #fff;
text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
font-weight: 100;
letter-spacing: 5px;
}

.titleMessage .heading .main {
	font-size: 50px;
    transform: uppercase;
}
.titleMessage .heading .sub{
	font-size: 15px;
}

.section{

	padding: 100px 0;
	
}

.aboutImage{
	max-width: 80%;
}


/*--HEADINGS--*/
h1{
    margin:0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
	color: #abb2b7;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 1px;
}

h2:after{
    display:block;
    height:1px;
    background-color: #d3abaf;
    content:"";
    width:50px;
    margin: 0 auto; /*center the box*/
    margin-top: 30px;
}

h1,
h2,
h3{
  font-weight:300;
  text-transform: uppercase;
  
}
h3{
    font-size:110%;
	margin-bottom: 10px;
	color: #d3abaf;
    font-weight: 700;
}
/*--PARAGRAPHS--*/

.long-copy{
    line-height: 145%;
    width:70%;
    margin-left: 15%; /*mi mette il paragrafo centrato*/
    text-align: justify;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.contactSection{
	color: #abb2b7;
	font-size:14px;
	background-color: rgba(241, 226, 215, 0.4);
	/*background-color: #00897B;*/
	/*background-color: #009688;*/
	/*background-color: #4DB6AC;*/
	
	
}

#portfolio{
	color: #fff;
	font-size:14px;
	background-color: rgba(241, 226, 215, 0.4);
	
}


.squareItem{
margin-top: 30px;
position:relative;
}

.squareInnerContainer{
	position:relative;
	padding: 50px 15px 30px;
	text-align: center;
	border:2px solid rgba(241, 226, 215, 0.4);
	border-top:none;
}

.squareInnerContainer:before,
.squareInnerContainer:after{

	content: '';
	position: absolute;
	top:0px;
	width: 30%;
	border-bottom: 2px solid rgba(241, 226, 215, 0.4);
}

.squareInnerContainer:before{
	right:0px;
}

.squareInnerContainer:after{
left:0px;
}

.squareContent h2{
font-size: 20px;
margin-bottom: 10px;
font-weight: 400;
color:rgba(241, 226, 215, 0.4);
}

.squareIcon{
	position:absolute;
	left: 60%;
	top:-30px;
	width: 40px;
	height:60px;
	font-size:45px;
	margin-left:-20%;
	color: rgba(241, 226, 215, 0.4);

}

.contactButton{
	color:#bdc3c7;
	padding:15px 20px;
	display: inline-block;
	margin-top:20px;
	border: 1px solid #bdc3c7;
	border-radius: 2px;
}

.contactButton:hover{
	text-decoration: none;
	color: #d3abaf;
	background-color: #fff;
}

.filter a{
color: #bdc3c7;
border: 1px solid #bdc3c7;
padding: 10px 18px;
display: block;
}

.filter li{
	display: inline-block;
	padding: 5px;	
}

.filter .current{
	background-color:#d3abaf;
	border-color:#d3abaf;
	color:rgba(241, 226, 215);;
}


.filter{
	text-align: center;
	width: 100%;
}

.section .heading{
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
	color: #abb2b7;

}

.items li{

	display: inline-block;
	padding: 5px;


}

.itemsContainer {
	width: 100%;
}


.items li img{

	width:100%;

-webkit-transition: all 0.2s linear, 1s;
-moz-transition: all 0.2s linear, 1s;
-o-transition: all 0.2s linear, 1s;
-ms-transition: all 0.2s linear, 1s;
-transition: all 0.2s linear, 1s;
}

.items .item{
	position:relative;
	display:block;
	overflow:hidden;
}


.items .icons{

	position:absolute;
	width:90px;
	height: 40px;
	left:60%;
	top: 50%;
	margin: -20px auto 0 -47px;
	text-align: center;
	z-index: 3;
}

.items .icons i{
	font-size: 20px;
	margin-top: 9px;
	color: #fff;
}

.items a{
	width: 40px;
	height: 40px;
	background-color: #abb2b7;
	position: relative;
	display: inline-block;

	-webkit-transition: all 0.2s linear, 0.5s;
	-moz-transition: all 0.2s linear, 0.5s;
	-o-transition: all 0.2s linear, 0.5s;
	-ms-transition: all 0.2s linear, 0.5s;
	-transition: all 0.2s linear, 0.5s;
}

.items .imageOverlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	left:0px;
	top:0px;
	opacity: 0;

-webkit-transition: all 0.2s linear, 1s;
-moz-transition: all 0.2s linear, 1s;
-o-transition: all 0.2s linear, 1s;
-ms-transition: all 0.2s linear, 1s;
-transition: all 0.2s linear, 1s;

}

.items .item:hover .imageOverlay{
	opacity: 1;
}

.items .openButton {
float:left;
left:-200px;
}

.items #contentCreation .openButton{
	float:left;
	right: -500px;
}

.items #contentCreation .item:hover .openButton {
	left:50px;
}

.items .item:hover .openButton {
	left:0px;
}
.contentCreation .item:hover .openButton{
	left:0px;
	
}
.items .item:hover .projectLink {
	right:0px;
}

.items .item:hover img{
-webkit-transform: scale(1.05, 1.05);
-moz-transform: scale(1.05, 1.05);
-o-transform: scale(1.05, 1.05);
-ms-transform: scale(1.05, 1.05);
-transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
	background-color: rgba(150, 150, 150);
	color: #fff;
	padding: 10px 5px;
}

.copyrightSection p {
	margin: 0;
}


#navigation {
background-color: #f1e2d7;
z-index:100;
padding: 20px 10px;
width:100%;
}

#navigation li{
	padding: 0px 10px;

}

#navigation li a{
	color: #abb2b7;
	font-size: 15px;
	text-transform: uppercase;
}

.navbar-brand, .navbar-brand:hover  {
color:#fff;
}

.navbar__logo{
	height: 5%;
	width: 5%;
	padding: 5px;
	
}
.navbar-icon{
	background: url(../icons/logo2.png);
	background-size: 100%;
}
.navbar-toggler-icon {
	background: url(../icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top:0;
}

/*--STEPS--*/
.unicorn-screen{
	height: 45%;
}

.steps-box:first-child {
text-align: right;
padding-right: 3%;
margin-top: 30px;
}
.steps-box:last-child {
	
	padding-left: 3%;
	margin-top: 70px;
}
.work-steps{
	margin-bottom: 50px;
}

.work-steps div{

	color: #d3abaf;
	border: 1px solid #d3abaf;
	display: inline-block;
	border-radius:50%;
	height: 45px;
	width: 45px;
	text-align: center;
	font-size: 100%;
	font-weight: 700;
	padding: 10px;
	float: left;
	margin-right: 25px;

}
.step{
	
	padding: 10px;
	
}
/*--LOADER--*/
.loader .inner{
	width:100%;
	height:100%;
	background: url(../icons/loaderInfinity.gif) center center no-repeat;
}
.loader {
	background-color: #fff;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 100;
}


